<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head') %>

    <body>
        <%-include('./partials/nav')%>
        <div class="container mt-3">
            <% blog.forEach(blog => { %>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%= blog.CoverImageURL %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <a href="/blog/<%=blog._id%>" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            <% }); %>
        </div>
        

        <%-include('./partials/script') %>

    </body>

</html>